* {
    box-sizing: border-box;
}

body {
    margin: 1px;
}

nav {
    background-color: white;
    overflow: hidden;    
}

nav a {
float: right;
color: black;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}

header {
    height: 350px;
    padding: 80px;
    text-align: center;
    align-items: center;
    color: white;
    background-image: url("https://wallpaperaccess.com/full/1216364.jpg");
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 50px;
    text-align: center;
    align-items: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 45%;
    padding: 20px;
    background-color: #ccd3db;
}

main {
    flex: 55%;
    padding: 20px;
    background-color: #468ac9;
}

footer {
    text-align: center;
    background-color: #ddd;
    padding:  5px;
}